{% extends "tmsmain/layout.html" %}

{% block sidebar %}
<div class="bootstrap-iso">
<div class="list-group">
  <a href="{% url 'tmsmain:users' %}" class="list-group-item" style="width:100%">КОРИСТУВАЧІ</a>
</div>
</div>
{% endblock %}

{% block main %}
<h1>Зміна паролю користувача</h1>

{% if error_message %} <p class="err_message">{{ error_message }}</p> {% endif %}

<form action="{% url 'tmsmain:change_user_password' user_obj.pk %}" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>Логін:</td>
            <td>{{user_obj.username}}</td>
        </tr>
        {% if is_admin %}
        <tr>
            <td>Старий пароль:</td>
            <td><input class="gen_form_input" type="password" name="old_password" maxlength="30" required></td>
        </tr>
        {% endif %}
        <tr>
            <td>Новий пароль:</td>
            <td><input class="gen_form_input" type="password" name="new_password" maxlength="30" required></td>
        </tr>
        <tr>
            <td>Повторіть новий пароль:</td>
            <td><input class="gen_form_input" type="password" name="confirm_new_password" maxlength="30" required></td>
        </tr>
        <tr>
            <td class="notice" colspan="2">*пароль повинен бути не коротшим 6 знаків, містити цифри і латинські літери.</td>
        </tr>
        <tr>
            <td></td>
            <td class="table_gen_butt"><input class="gen_form_input" type="submit" value="Зберегти" name="save"></td>
        </tr>
    </table>
</form>
{% endblock %}