{% extends "tmsmain/layout.html" %}
{% load tmsmain_extras %}

{% block sidebar %}
<div class="bootstrap-iso">
<div class="list-group">
    <a href="{% url 'tmsmain:view_task' task.id %}" class="list-group-item" style="width:100%; margin: 0 0 20px 0;">&#10096 НАЗАД</a>
    <a href="{% url 'tmsmain:create_task' %}" class="list-group-item" style="width:100%">НОВЕ ЗАВДАННЯ</a>
</div>
</div>
{% endblock %}

{% block main %}
<h1>Управління завданням</h1>

    <table id="view_task_table">
        <tr>
            <td class="top_row" colspan="2" height="26" style="background: #eceeec; border-top: 3px solid {%if task.priority == 1%}grey{%elif task.priority == 2%}#4dff88{%elif task.priority == 3%}#ffff4d{%else%}#ff3300{%endif%}">
                <a href="{%url 'tmsmain:object_details' task.objectid.pk%}">{{task.objectid.number}} - {{task.objectid.name}}</a></td>
        </tr>
        <tr>
            <td width="50%"><span class="row_name">Тип події:</span>{%get_choice event_type task.eventtype%}</td>
            <td width="50%"><span class="row_name">Дата:</span>{{task.eventtime}}</td>
        </tr>
        <tr>
            <td colspan="2"><span class="row_name">Створив:</span>{{task.creator.username}}</td>
        </tr>
        <tr>
            <td colspan="2"><span class="row_name">Останні дії:</span>{{task.lastactivity}}</td>
        </tr>
        <tr>
            <td class="task_description" colspan="2" height="50">{{task.description}}</td>
        </tr>
    </table>
    <hr>

<form action="{%url 'tmsmain:task_change_assign' task.id %}" method="POST" onsubmit="return confirm('Змінити виконавця?')">
{% csrf_token %}
    <table>
        <tr>
            <td>Змінити виконавця на:</td>
            <td><select class="gen_form_input" name="new_user">
            {% for user in users %} <option value="{{ user.pk }}" {%if task.assignedto.id == user.pk%} selected {%endif%}>{{ user.username }}</option> {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td>Коментар:</td>
            <td><textarea name="action_comment" class="gen_form_input" maxlength="200"  style="width: 300px; height: 120px" required></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td class="table_gen_butt"><input class="gen_form_input" type="submit" value="Зберегти зміни" name="change_assign_step2"></td>
        </tr>
    </table>
</form>
{% endblock %}