{% extends "tmsmain/layout.html" %}
{% load tmsmain_extras %}
{% load staticfiles %}

{% block sidebar %}
<div class="bootstrap-iso">
    <div class="list-group">
      <a href="{% url 'tmsmain:tasks' %}" class="list-group-item" style="width:100%">УСІ ЗАВДАННЯ</a>
      <a href="{% url 'tmsmain:create_task' %}" class="list-group-item" style="width:100%">НОВЕ ЗАВДАННЯ</a>
    </div>

    <h4 style="margin: 0 5px 10px 15px;">Фільтр</h4>

    <ul class="list-group">
      <li class="list-group-item">
          <p class="list-group-item-text">Пріоритет</p>
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
                <span class="cut">{{filter_priority_label}}</span><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'tmsmain:tasks_archive' %}{% q_transform request filter_priority='none' filter='true' %}">Не задано</a></li>
                  {%for item in priority%}
                  <li><a href="{% url 'tmsmain:tasks_archive' %}{% q_transform request filter_priority=item.0 filter='true' %}">{{item.1}}</a></li>
                  {%endfor%}
              </ul>
          </div>
      </li>
      <li class="list-group-item">
          <p class="list-group-item-text">Тип</p>
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
                <span class="cut">{{filter_type_label}}</span><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'tmsmain:tasks_archive' %}{% q_transform request filter_type='none' filter='true' %}">Не задано</a></li>
                  {%for item in event_type%}
                  <li><a href="{% url 'tmsmain:tasks_archive' %}{% q_transform request filter_type=item.0 filter='true' %}">{{item.1}}</a></li>
                  {%endfor%}
              </ul>
          </div>
      </li>
      <li class="list-group-item">
          <p class="list-group-item-text">Виконавець</p>
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
                <span class="cut">{{filter_assignee_label}}</span><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'tmsmain:tasks_archive' %}{% q_transform request filter_assignee='none' filter='true' %}">Не задано</a></li>
                  {%for item in users%}
                  <li><a href="{% url 'tmsmain:tasks_archive' %}{% q_transform request filter_assignee=item.pk filter='true' %}">{{item.username}}</a></li>
                  {%endfor%}
              </ul>
          </div>
      </li>
      <li class="list-group-item">
          <p class="list-group-item-text">Мітка</p>
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
                <span class="cut">{{filter_label_label}}</span><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'tmsmain:tasks_archive' %}{% q_transform request filter_label='none' filter='true' %}">Не задано</a></li>
                  {%for item in task_label%}
                  <li><a href="{% url 'tmsmain:tasks_archive' %}{% q_transform request filter_label=item.pk filter='true' %}">{{item.name}}</a></li>
                  {%endfor%}
              </ul>
          </div>
      </li>
    </ul>

</div>
{% endblock %}

{% block main %}
<h1>Архів виконаних завданнь</h1>

<div class="bootstrap-iso">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <p class="navbar-text">Сортувати за:</p>
        </div>
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{order_by_label}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'tmsmain:tasks_archive' %}{% q_transform request order_by='closed' %}">Датою закриття</a></li>
                <li><a href="{% url 'tmsmain:tasks_archive' %}{% q_transform request order_by='priority' %}">Пріоритетом</a></li>
                <li><a href="{% url 'tmsmain:tasks_archive' %}{% q_transform request order_by='type' %}">Типом</a></li>
                <li><a href="{% url 'tmsmain:tasks_archive' %}{% q_transform request order_by='status' tab='all_tsk' %}">Статусом</a></li>
              </ul>
            </li>
            <li {%if sort_label == 'desc'%} class="active" {%endif%}><a href="{% url 'tmsmain:tasks_archive' %}{% q_transform request sort='desc' %}"><span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span></a></li>
            <li {%if sort_label == 'asc'%} class="active" {%endif%}><a href="{% url 'tmsmain:tasks_archive' %}{% q_transform request sort='asc' %}"><span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><div class="navbar-header">
                  <p class="navbar-text">Завдань: {{tasks_count}}</p>
                </div></li>
            {%if filter_act%}
            <li class="active" ><a href="{% url 'tmsmain:tasks_archive' %}{% q_transform request filter='false' %}"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></a></li>
            {%else%}
            <li><a href="{% url 'tmsmain:tasks_archive' %}{% q_transform request filter='true' %}"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></a></li>
            {%endif%}
          </ul>
      </div>
    </nav>

    <nav aria-label="Page navigation">
    <div id="page_indexes">
        <ul class="pagination">
            <li>{% if indexes.prev%}
                <a href="{% url 'tmsmain:tasks_archive' indexes.prev %}" aria-label="Previous"><span class="arrow">&laquo;</span></a>
            {%else%}
                <span class="arrow_na">&laquo;</span>
            {%endif%}</li>
            <li>{% if indexes.first%}
            <a href="{% url 'tmsmain:tasks_archive' indexes.first %}">{{indexes.first}}</a>
            {%endif%}</li>
            {% for n in indexes.center %}
            <li>
                {% if n == indexes.current %} <span class="selected_page">{{n}}</span>
                {%else%}<a href="{% url 'tmsmain:tasks_archive' n %}">{{n}}</a>{%endif%}
            </li>
            {%endfor%}
            <li>{% if indexes.last%}
            <a href="{% url 'tmsmain:tasks_archive' indexes.last %}">{{indexes.last}}</a>
            {%endif%}</li>
            <li>{% if indexes.next%}
                <a href="{% url 'tmsmain:tasks_archive' indexes.next %}" aria-label="Next"><span class="arrow">&raquo;</span></a>
            {%else%}
                <span class="arrow_na">&raquo;</span>
            {%endif%}</li>
        </ul>
    </div>
    </nav>
</div>

    {% for task in tasks %}
    <table id="task_list_table">
        <tr>
            <td rowspan="3" width="2px" style="background: {%if task.priority == 1%}grey{%elif task.priority == 2%}#4dff88{%elif task.priority == 3%}#ffff4d{%else%}#ff3300{%endif%};"></td>
            <td colspan="2" style="background: #eceeec;"><a href="{%url 'tmsmain:object_details' task.objectid.pk%}" title="{{task.objectid.region.name}}, {{task.objectid.address}}">{{task.objectid.number}} - {{task.objectid.name}}</a></td>
            <td width="250" style="background: #eceeec; white-space: nowrap;">{{task.eventtime}}</td>
        </tr>
        <tr onclick="document.location='{%url 'tmsmain:view_task' task.id %}'" class="table_task_mrow">
            <td class="table_task_mrow" width="100px">{%get_choice event_type task.eventtype%}&nbsp;</td>
            <td class="table_task_mrow" colspan="2" height="50px">{{task.description}}</td>
        </tr>
        <tr>
            <td colspan="2">{{task.label.name}}&nbsp;&nbsp;&nbsp;&nbsp;{%get_choice status task.status%}{%span_pend_date task%}</td>
            <td>{{task.assignedto.username}}</td>
        </tr>
    </table>
    {% endfor %}

{% if indexes.double_controls %}
<div class="bootstrap-iso">
    <nav aria-label="Page navigation">
    <div id="page_indexes2">
        <ul class="pagination">
            <li>{% if indexes.prev%}
                <a href="{% url 'tmsmain:tasks_archive' indexes.prev %}" aria-label="Previous"><span class="arrow">&laquo;</span></a>
            {%else%}
                <span class="arrow_na">&laquo;</span>
            {%endif%}</li>
            <li>{% if indexes.first%}
            <a href="{% url 'tmsmain:tasks_archive' indexes.first %}">{{indexes.first}}</a>
            {%endif%}</li>
            {% for n in indexes.center %}
            <li>
                {% if n == indexes.current %} <span class="selected_page">{{n}}</span>
                {%else%}<a href="{% url 'tmsmain:tasks_archive' n %}">{{n}}</a>{%endif%}
            </li>
            {%endfor%}
            <li>{% if indexes.last%}
            <a href="{% url 'tmsmain:tasks_archive' indexes.last %}">{{indexes.last}}</a>
            {%endif%}</li>
            <li>{% if indexes.next%}
                <a href="{% url 'tmsmain:tasks_archive' indexes.next %}" aria-label="Next"><span class="arrow">&raquo;</span></a>
            {%else%}
                <span class="arrow_na">&raquo;</span>
            {%endif%}</li>
        </ul>
    </div>
    </nav>
</div>
{%endif%}

<script type="text/javascript" src="{% static 'tmsmain/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tmsmain/bootstrap.min.js' %}"></script>

{% endblock %}